SECRET_KEY=secret
DB_USER=root
DB_PASSWORD=password
DB_CORE=core
DJANGO_SETTINGS_MODULE=backend.settings.development
DEBUG=1
DB_HOST=db
DB_PORT=5432
PGADMIN_EMAIL=user@local.com
PGADMIN_PASS=password
